*{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}
body{
    background-color: rgba(192,192,192,0.3);
    font-family:'barlow semi condensed', sans-serif;
    line-height: 1.5em;

} 
#logo{
    display: flex;
    justify-content: center;
}
h3, h2, h1, h4, h5, h6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding:8px;
    align-items: center;
    color:navy;
    text-transform: capitalize;
    text-decoration-line: underline;
    text-decoration-color: black;
}
p{
    justify-content: center;
    align-items: center;
    background-color: rgba(192,192,192,0.6);
    color: black;
    padding: 14px;
    margin: 4px;
}
.title{
    display: flex;
    justify-content: center;
    color:navy;
}

.navbar{
    padding: 4px;
    margin: 4px;
    display:flex;
    justify-content: end;
    text-align: end;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
  }
  .images{
    display: flex;
    align-items: center;
  }

span{
    text-transform: capitalize;
}
#big-img{  
    background: url("/images/kapana3.jpg");
    background-size:cover;
    background-position: center;
    color: white;
}
.content{
    background-color: rgba(192,192,192,0.6);
    color:black;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin: 25px;
}
.content p{
    margin-left: 140px;
}
.showoff{
    display: inline;
    margin: 44px;
    
}

table, tr, td{
    border: 1px solid black;
  }
  tr:hover {
    background-color: coral;
} 
  
table{
    width:100%;
    background-color: rgba(192,192,192,0.6);
    border-spacing: 3px;
    align-items: center;
    color:black;
    padding:left;
  
}
.copyright{
    display: flex;
    justify-content: flex-end;
}
.return{
    padding: 15px;
    margin: 3px;
}
a:hover{
    background-color: aqua;
}